<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Flappy Simpson</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="js/main.js" type="text/javascript"></script>

	</head>
	<body>
		<img id="homer" src="http://www.renders-graphiques.fr/image/upload/normal/85_render_homer_by_cuffie.png"/>
		<img id="startBtn" onclick="init()" src="http://www.gamesdatabase.org//Media/SYSTEM/Arcade/GameOver/big/The_Simpsons_-_1991_-_Konami.jpg" />
		<h1>Score: <span id="score">0</span></h1>





		<script src="js/main.js" type="text/javascript"></script>
	</body>


</html>
